/* ==========================================================================
   # Body and global class styling 
   ========================================================================== */

/*
 * Setting up default body parms, letter-spacing to look more beautiful
 */


body, html {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  background-color: #f3f1e8;
}

/*
 * Included font from /fonts folder, this font is not found on google or browser
 */

@font-face { font-family: Scriptina; src: url('../fonts/SCRIPTIN.ttf'); } 

/*
 *  class to make content full screen height
 */

.fill {
  min-height: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 * Used only on first container to maintain center jumbotron later in media queries
 */

.fill-top {
  min-height: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 *  helper class for navigation and footer
 */

.l-spacing {
  letter-spacing: 5px;
}

/*
 *  Border between firs and secound container
 */

.border-con {
  position: absolute;
  margin-top: -58px;
  width: 100%;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 *  class for all small rounded images on site
 */

.bakery-img {
  width: 100px;
  height: 100px;
}

/*
 *  Making all contents (except first one) auto hight on mobile devices
 */

@media (max-width: 992px) {

  .fill {
    height: auto;
  }

}


/*
 *  Background images for all containers
 */

.bg1 { background-image: url('../img/content-bg/bg1.png'); }

.bg2 { background-image: url('../img/content-bg/bg2.png'); }

.bg3 { background-image: url('../img/content-bg/bg3.png'); }

.bg4 { background-image: url('../img/content-bg/bg4.png'); }

.bg-border { background-image: url('../img/content-bg/border.png'); }

.bg-shadow {
  width: 100%;
  display: table;
  background-image: url('../img/content-bg/bg_shadow.png');
  background-position: center;
}


/*
 *  Setting up font classes
 */

.font-script {
  font-family: "Scriptina";
}

.font-times-roman {
  color: rgb(86,83,76);
  font-family: "TimesNewRomanPSMT";
}

.font-play-fair {
  color: rgb(255,255,255);
  font-family: "PlayfairDisplay-Bold";
  font-weight: bold;
}

.font-proxima {
  font-family: "ProximaNova-Regular";
}

.font-ale-bold-up {
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.font-ale-bold-cent {
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-align: center;
}

.font-ale-reg-cent {
  font-family: "Alegreya-Regular";
  text-align: center;
}


/* ========================================================================== 
  # Setting up navbar
  ========================================================================== */

/*
 *  Navbar position and bg color
 */

div.navbar-nav {
  z-index: 1;
  margin: auto;
}

nav.navbar-bg {
  height: 70px;
}

div.col-navbar{
  padding-right: 0;
  padding-left: 0;
  background-color: rgba(74,74,74,.45);
}


/*
 *  Making font look more beautiful
 */

nav.navbar a.navbar-brand,
div.center-footer a.navbar-brand {
  margin-top: -5px;
  font-size: 30px;
}

.navbar-nav a.nav-item {
  text-transform: uppercase;
  color:white;
}

.navbar > a.pull-left {
  margin-left: 5%;
}

/*
 *  Adding ~ betwean navbar elements (except first one)
 */

.navbar-nav a:not(:first-child).nav-item:before {
  content: "~";
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
  color: white; 
}

/*
 *  Setting up social icons for navbar
 */

div.soc-icon {
  float: right;
  margin-right: 10%;
  min-width: 130px;
}

div.soc-icon a {
  margin-left: 5px;
  margin-right: 5px;
}

div.soc-icon a i {
  color: white;
}

div.soc-icon a i:hover {
  color: #a6a2a6;
}

/*
 *  Removing bug when screen size come to 1050px width, lowering font size
 */

@media (max-width: 1050px) {

  nav.navbar a.navbar-brand { font-size: 20px; }

}

/*
 *  Making navbar elements more responsiv using bootstrap and our media queryes
 */

@media (max-width: 992px) {

  div.col-navbar {
    background-color: rgb(74,74,74);
  }

  nav.navbar a.navbar-brand { font-size: 25px; }

  div.collapse.show,
  div.collapsing {
    z-index: 2;
    padding: 10px;
    margin-top: 8px;
    background-color: rgb(74,74,74);
  }

  .navbar > a.pull-left {
    margin-left: 0;
  }

  /*
   *  Removing ~ from navbar elements when is mobile responsive
   */

  .navbar-nav a:not(:first-child).nav-item:before {
    content: "";
    margin-left: 0;
    margin-right: 0;
  }

  div.soc-icon {
    float: left;
  }

}


/* ========================================================================== 
  # Container 1 
  ========================================================================== */

/*
*  Setting up jumbotron, content in the center of first container
*/

.jumbotron {
  margin: auto;
  max-width: 960px;
  text-align: center;
  color: white;
  background:none;
}

/*
*  Jumbotron header font "vw" size to make it responsive
*/

div.jumbotron h1.jumbo-h1 {
  font-size: 6vw;
}

/*
*  margining dashed img line 
*/

div.jumbotron img.d-line {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*
*  jumbotron paragraf
*/

div.jumbotron > p {
  margin: auto;
  max-width: 360px;
  color: rgb(255,255,255);
  font-size: 20px;
}

/*
*  Our menu button classes with combine of bootstrap classes
*/

.btn-bakery {
  margin-top: 30px;
  padding-top: 15px;
  width: 200px;
  height: 50px;
}


.btn-menu {
  font-size: 14px;
  background-color: rgba(58,56,51,.5);
  border: 1px dashed #cac9c9;
}

.btn-menu:hover {
  text-transform: uppercase;
  color: #fdf9ca;
  background-color: rgba(0,0,0,.5);
  border: 1px dashed #fff;
}

/*
*  Centering content in vertical alignmant
*/

.row-mg-top {
  display: table-row;
  vertical-align: middle;
  text-align: center;
}

/*
*  Bugfixing when reach beakpoint of 750px, font get smaller
*/

@media (max-width: 750px) {

  div.jumbotron > p {
    font-size: 15px;
  }
  div.jumbotron h1.jumbo-h1 {
    font-size: 36px;
  }

}

/*
*  Bugfixing bg shadow that go over 100% width
*/

@media (max-width: 320px) {

  .bg-shadow {
    display: block;
  }

  div.jumbotron img.d-line {
    width: 80%;
  }
  
}

/* ========================================================================== 
  # Container 2
  ========================================================================== */

/*
*  Position of left side (col-lg-6) 
*/

.left-con {
  position: absolute;
  right: 15%;
  margin: auto;
  max-width: 500px;
}

/*
*  Setting up H2,H5,paragraf elements, making h2 responsive text size
*/

h2.h2-con-2 {
  font-size: 3.5vw;
  color: rgb(86,83,76);
}

h5.h5-con-2 {
  font-size: 14px;;
  color: rgb(173, 125, 65);
  text-transform: uppercase;
}

div.left-con > p {
  font-size: 16px;
  color: rgb(86,83,76);
  text-align: center;
  margin-top: 70px;
}

div.left-con > h3 {
  margin-top: 20px;
  font-size: 24px;
  color: rgb(86,83,76);
}

/*
*  Position of cook-table (name -image- lastName)
*/

div.cook-table {
  margin-left: 0;
  margin-right: 0;
  max-width: 500px;
  text-align: center;
}

.cook-name {
  margin-top: 20px;
  line-height: 60px;
  font-size: 24px;
  color: rgb(86,83,76);
  border-bottom: 1px solid #d7d4c9;
  border-top: 1px solid #d7d4c9;
}


/*
*  Cook's quote
*/

div.cook-say {
  text-align: center;
}

.left-con span.cook-text {
  font-size: 24px;
  color: rgb(164,125,94);
  text-align: center;
}

.sup,
.sub {
  position: relative;
  font-size: 60px;
}

/*
*  superscript and subscript of quoted text
*/

span.sup {
  bottom: 0ex; 
}

span.sub {
  bottom: -2ex; 
}


/*
*  Cook's avatar-image
*/

.img-con {
  margin: auto;
  width: 80%;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.img-con tbody tr td {
  text-align: center;
}

.im {
  outline: 5px solid white;
  outline-offset: -10px;
  width: 100%;
  height: auto;
}

/*
*  right side frame for images
*/

.frame {
  width: 100%;
}

.center-im {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

/*
*  Centering text inside image (vertical and horisontal alingment)
*/

.div-cent-im {
  position: absolute; 
  z-index: 6; 
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate3d(-50%,-50%,0);
}

.txt-img {
  font-size: 30px;
  color: rgb(201,177,118);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

/*
*  Margining top and padding bottom of Container 2 rows
*/

div.bg2 div.row {
  padding-top: 10%;
  padding-bottom: 50px;
}

/*
*  Fixing bug for left-container margin
*/

@media (max-width: 1200px) {

  .left-con {
    right: auto;
  }

}

/*
*  Responsive (col-lg-) mobile query lowering margins and font-size
*/

@media (max-width: 992px) {

  div.bg2 {
    min-height: 0;
  }

  .left-con {
    margin-top: 10px;
  }

  div.cook-table div.col-lg-4 img {
    margin-top: 20px;
  }

  .img-con {
    margin-top: 10px;
  }

  h2.h2-con-2 {
    font-size: 40px;
  }

  div.left-con > p {
    font-size: 14px;
    margin-top: 30px;
  }

  div.left-con > h3 {
    margin-top: 10px;
  }

  div.cook-table {
    margin-top: 0;
  }

  .cook-name {
    font-size: 16px;
  }
  
  .left-con span.cook-text {
    font-size: 16px;
  }

  .sup,
  .sub {
    font-size: 30px;
  }

  .col-lg-4.bakery-img {
    margin-top: 20px;
  }

  .left-con {
    position: static;
  }

  .txt-img {
    font-size: 14px;
  }

}

/*
*  Fixing bug for left-container on 608px breakpoind
*/

@media (max-width: 608px) {

  div.bg2 div.row div.col-lg-6 div.left-con {
    padding-top: 50px;
  }

}


/* ========================================================================== 
  # Container 3
  ========================================================================== */

/*
*  Setting up left and right content of third container
*/

.right-con {
  width: 100%;
  height: 517px;
  min-width: 580px;
  background-image: url(../img/text_bg.png);
  background-size: cover;
  background-position: center;
}

/*
*  Cutting left-bottom edge with clip-path
*/

.left-im {
  position: relative;
  width: 670px;
  height: 517px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../img/im5.png);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 85%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 85%, 0 75%);
}

/*
*  Making white triangle in left-bottom edge
*/

.left-im:before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  border-bottom: 80px solid white;
  border-left: 80px solid white;
  width: 0;
}

/*
*  Marginig right content
*/

.con-inside {
  padding: 5% 5% 0% 10%;
  margin: auto;
  width: 100%;
}

div.bg3 div.row {
  padding-top: 10%;
  padding-bottom: 50px;
}

/*
*  Setting up text fields H2,H5,Paragraf
*/

h2.h2-con-3 {
  font-size: 3vw;
  color: rgb(86,83,76);
  text-align: left;
}

h5.h5-con-3 {
  font-size: 14px;;
  color: rgb(173, 125, 65);
  text-align: left;
}

div.right-con div.con-inside > p {
  margin-top: 10%;
  font-size: 16px;
  color: rgb(86,83,76);
}

/*
*  Customising Bootstrap carousel
*/

.slider {
  height: 100px;
  margin-top: 25% !important;
  margin: auto;
  max-width: 450px;
}

.slider-center {
  margin: auto;
  width: 330px;
}
div.carousel-item img.bakery-img {
  margin-left: 5px;
}

.slider-arrow {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
}

/*
*  Customising Bootstrap arrows
*/

.slider-lft-arr { background-image: url('../img/slider/buttons/arrow_left.png'); }

.slider-rht-arr{ background-image: url('../img/slider/buttons/arrow_right.png'); }

.slider-lft-arr:hover { background-image: url('../img/slider/buttons/arrow_left_active.png'); }

.slider-rht-arr:hover { background-image: url('../img/slider/buttons/arrow_right_active.png'); }

/*
*  Redy-in box 
*/

.ready-in {
  position: absolute;
  padding: 10px;
  top: -90px;
  right: -80px;
  width: 200px;
  height: 180px;
  background-image: url(../img/ready.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  -webkit-box-shadow: 1px 28px 90px 1px rgba(0,0,0,.62);
     -moz-box-shadow: 1px 28px 90px 1px rgba(0,0,0,.62);
          box-shadow: 1px 28px 90px 1px rgba(0,0,0,.62);
}


/*
*  Fixing minimal width of bootstrap colone
*/

.col-min-w {
  min-width: 580px;
}

/*
*  Ready-in inside text elements
*/

div.ready-in h5.h5-con-3 {
  padding-top: 15px;
  text-align: center;
}

div.ready-in h2.h2-con-3 {
  padding-top: 20px;
  text-align: center;
  font-size: 56px;
  color: rgb(212,157,89);
}

div.ready-in p {
  text-align: center;
}

/*
*  Responsive (col-lg-) mobile query fixing margins and font-size
*/

.menu-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -12px;
  width: 20px;
  height: 26px;
  background-image: url(../img/menu-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 992px) {

  div.bg3 {
    min-height: 0;
  }

  /*
  *  using another fliped bg for responsiv view
  */

  .right-con {
    background-image: url(../img/text_bg-flip.png);
  }

  .left-im {
    width: 80%;
    height: 300px;
    margin: auto;
  }

  .right-con {
    margin-top: -8% !important;
    margin: auto;
    width: 80%;
    height: auto;
    min-width: 200px;
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
  }

  h2.h2-con-3 {
    font-size: 30px;
  }

  div.right-con div.con-inside > p {
    font-size: 14px;
  }

  .left-im {
    -webkit-clip-path: none;
    clip-path: none;
    position: static;
  }

  /*
  *  removing cuted edge in left-bottom corner
  */

  .left-im:before {
    position: static;
    border-bottom: none;
    border-left: none;
  }

  .con-inside {
    padding: 10% 10% 5% 10%;
  }
  
  .slider {
    margin-top: 15% !important;
  }

  .ready-in { 
    position: static;
    width: 80%;
    min-width: 200px;
    margin: auto;
    height: 100px;
    box-shadow: none;
  }

  div.ready-in h5.h5-con-3 {
    padding-top: 0;
  }

  div.ready-in h2.h2-con-3 {
    padding-top: 0;
    font-size: 28px;
  }

  .col-min-w {
    min-width: 200px;
  }

  .menu-icon {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -10px;
  }

}

  /*
  *  Fixing slider to show only one picture
  */

@media (max-width: 720px) {

  div.carousel-item div.slider-center img:not(:first-child).bakery-img {
    display: none;
  }

  .slider-center {
    margin: auto;
    width: 110px;
  }

  .menu-icon {
    top: -30px;
  }

}

  /*
  *  fixing left content and slider arow size, od 608px breakpoind
  */

@media (max-width: 608px) {

  .left-im {
    height: 200px;
    min-width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slider-arrow {
    width: 35px;
    height: 35px;
  }

  .menu-icon {
    display: none;
  }

}
  /*
  *  fixing right content background to be in the middle
  */

@media (max-width: 420px) {

  .right-con { background-position: center; }

}


/* ========================================================================== 
  # Container 4
  ========================================================================== */

/*
*  Padding for container 4 rows (top-bottom)
*/

div.bg4 div.row {
  padding-top: 10%;
  padding-bottom: 50px;
}

/*
*  Setting up text elements size,clolor,font
*/

div.left-con h2.h2-con-4 {
  font-size: 60px;
  color: rgb(255,255,255);
}

div.box3 h2.h2-con-4 {
  margin-top: 80px;
  font-size: 44px;
  text-align: center;
  color: rgb(86,83,76);
}

div.left-con h3.h3-con-4 {
  margin-top: 42px;
  font-size: 30px;
  color: rgb(255,255,255);
}

div.left-con h5.h5-con-4 {
  font-size: 16px;;
  color: rgb(212, 188, 159);
  text-align: center;
  text-transform: uppercase;
}

div.left-con p.p-con-4 {
  margin-top: 0;
  color: white;
  font-size: 16px;
  text-align: center;
}

div.left-con p.price {
  margin-top: 0;
  font-size: 36px;
  color: rgb(223,198,145);
}

div.box3 p {
  margin: auto;
  padding-top: 50px;
  width: 300px;
  text-align: center;
}

/*
*  3 right boxes one over the other
*  Cuting edge on box-es
*/

.box {
  position: absolute;
  outline: 1px dashed black;
  outline-offset: -10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 90%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 90%, 0 75%);
}

.box1 {
  margin-left: 120px;
  margin-top: 50px;
  width: 367px;
  height: 501px;
  background-color: #d5d3ca;
}

.box2 {
  margin-left: 60px;
  margin-top: 25px;
  width: 402px;
  height: 548px;
  background-color: #e5e2d9;
}

.box3 {
  padding: 30px;
  width: 440px;
  height: 600px;
  background-color: #f3f1e8;
  background-image: url('../img/box3-bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

/*
*  Adding triangle to cuted edge
*/

.box3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 60px solid white;
  border-left: 45px solid white;
}

/*
*  Setting up elements inside box3
*/

.head-txt {
  float: left;
  text-align: center;
  padding-top: 15px;
  width: 50%;
  font-size: 14px;
  color: rgb(86,83,76);
}

.head-line {
  width: 100%;
}

.btn-read {
  font-size: 14px;
  color: rgb(164,125,94);
  text-transform: uppercase;
  border: 1px solid #969696;
  border-radius: 0;
}

.btn-read:hover {
  border: 1px solid #000;
  color: rgb(0,0,0);
}

.btn-mrg {
  text-align: center;
}


/*
*  Fixing on breakpoint 1120px width to remove box1 and box2
*/

@media (max-width: 1120px) {

  .box1,
  .box2 {
    display: none;
  }

}

/*
*  Making other elements responsive (col-lg)
*/

@media (max-width: 992px) {

  div.bg4 {
    min-height: 0;
  }

  div.left-con h2.h2-con-4 {
    font-size: 50px;
  }

  div.left-con h3.h3-con-4 {
    font-size: 28px;
  }

  .box {
    position: static;
    margin-bottom: 50px !important;
    margin: auto;
    -webkit-clip-path: none;
            clip-path: none;
  }

  .box3:after {
    position: static;
    border-bottom: none;
    border-left: none;
  }

}

/*
*  Making box3 autosize width and height on 510px breakpoint
*/

@media (max-width: 510px) {

  .box3 {
    width: 90%;
    height: auto;
    min-height: 600px;
  }

  div.box3 h2.h2-con-4 {
    margin-top: 20px;
    font-size: 36px;
  }

  div.box3 p {
    padding-top: 20px;
    width: 90%;
  }

  .btn-bakery {
    width: 140px;
  }

}


/* ========================================================================== 
  # Container 5
  ========================================================================== */

/*
*  Top heading of container 5, positioning bg and text
*/

.head-con-5 {
  position: relative;
  margin: auto;
  width: 40%;
  height: 140px;
  background-repeat: no-repeat;
  background-image: url(../img/head-con.png);
  background-position: top center;
}

div.head-con-5 h2.h2-con-5 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw;
  color: rgb(86,83,76);
}

div.head-con-5 h5.h5-con-5 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -10px;
  margin-right: auto;
  font-size: 1.1vw;
  color: rgb(164,125,94);
  text-transform: uppercase;
}

/*
*  Left side components of recipe
*/

.components {
  margin: auto;
  padding: 5px;
  width: 80%;
  text-align: center;
}

div.components h3.h3-con-5 {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(164,125,94);
}

div.components p.p-con-5 {
  font-size: 16px;
  color: rgb(86,83,76);
  text-align: center;
}

div.components img.bakery-img {
  -webkit-box-shadow: 2px 28px 63px -9px rgba(0,0,0,.68);
     -moz-box-shadow: 2px 28px 63px -9px rgba(0,0,0,.68);
          box-shadow: 2px 28px 63px -9px rgba(0,0,0,.68);
}

/*
*  Right side components of recipe
*/

.recepie-con {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  height: 556px;
  background-image: url(../img/recipe/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  outline: 10px solid white;
  outline-offset: -11px;
  border: 1px solid #d8d8d8;
}

/*
*  Positioning and setting up button recipe
*/

.btn-recipe {
  width: 171px;
  height: 60px;
  font-size: 18px;
  color: rgb(223,198,145);
  letter-spacing: 0;
  border-radius: 0;
  background-color: white;
  border: 1px dashed #dcc28f;
}

.btn-recipe:hover {
  color: rgb(111, 97, 68);
  border: 1px dashed #44413a;
}

.btn-mrg1 {
  position: relative;
  margin-top: 490px;
  margin-left: -70px;
}

.row-height {
  max-height: 670px;
}

/*
*  3 boxes over recepie-con
*/

.info-block {
  position: static;
  height: 200px;
  box-shadow: none;
}

.info-recipe {
  position: absolute;
  right: 13%;
  top: 30px;
  box-shadow: 1px 20px 90px 1px rgba(0,0,0,.42);
}

/*
*  Setting friwst two boxes transparent bg
*/

.transp-block {
  margin-bottom: 1px;
  background-image: unset;
  background-color: rgba(255,255,255,.74);
}

div.info-recipe div.transp-block h2.h2-con-3 {
  color: #636363;
}

/*
*  Making thinks responsive for 992 (boostrap col-lg) breakpoint
*/

@media (max-width: 992px) {

  .head-con-5 { width: 100%; }

  div.head-con-5 h2.h2-con-5 { font-size: 32px; }
  div.head-con-5 h5.h5-con-5 { font-size: 14px; }
  div.components p.p-con-5   { font-size: 14px; }
  div.components h3.h3-con-5 { font-size: 24px; }

/*
*  pushing components on top inline
*/

  .components {
    float: left;
    width: 33.3%;
  }

  div.row div.col-lg-4,
  div.row div.col-xs-12 {
    padding-top: 50px;
  }

  .recepie-con {
    margin-top: 0;
    height: auto;
    min-height: 300px;
    min-width: 200px;
  }

/*
*  Making position static elements box, button, infoblock
*/

  .btn-mrg1 {
    position: static;
    text-align: center;
    margin: 0;
  }

  .info-block {
    position: static;
    height: 100px;
    border:1px solid #d8d8d8;
    box-shadow: none;
  }

  .info-recipe {
    position: static;
    box-shadow: none;
  }

}

/*
*  fixing font size, nad pusning back components in vertical position
*/

@media (max-width: 450px) {

  div.head-con-5 h2.h2-con-5 { font-size: 20px; }

  div.head-con-5 h5.h5-con-5 {
    margin-bottom: -20px;
    font-size: 10px;
  }

  div.components p.p-con-5   { font-size: 12px; }
  div.components h3.h3-con-5 { font-size: 18px; }

  .components {
    float: none;
    width: 80%;
  }

  .btn-recipe {
    width: 80%;
  }

}

/* ========================================================================== 
  # Footer
  ========================================================================== */

/*
*  Editing boostrap footer class for text alignment and margining
*/

.footer {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

/*
*  removing ul>li dots 
*/

div.left-footer ul,
div.right-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
*  Setting list inline
*/

div.left-footer ul li,
div.right-footer ul li {
  display: inline;
}

.right-footer,
.left-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #c1bdb9;
  border-bottom: 1px solid #c1bdb9;
}

ul.ul-footer li a.foot-link {
  color: rgb(86,83,76);
  font-size: 1vw;
}

.foot-link:hover {
  text-decoration: none;
}

div.center-footer a.navbar-brand {
  color: rgb(86,83,76);
}

/*
*  adding ~ before footer elements except first one
*/

ul.ul-footer li:not(:first-child) a.foot-link:before {
    content: "~";
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(86,83,76);
}

/*
*  Footer is now responsive
*/

@media (max-width: 992px) {

  div.row div.col-lg-4,
  div.row div.col-xs-12 {
    padding-top: 15px;
  }

  div.center-footer {
    margin-bottom: 20px;
  }

  ul.ul-footer li a.foot-link {
    font-size: 14px;
  }

}

/*
*  Fixing footer inline elements to display in block and remove ~
*/

@media (max-width: 460px) {

  div.left-footer ul li,
  div.right-footer ul li {
    display: block;
  }

  ul.ul-footer li:not(:first-child) a.foot-link:before {
    content: "";
  }

}