/* ==========================================================================
   Body and global class styling 
   ========================================================================== */

body, html {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

@font-face { font-family: Scriptina; src: url('../fonts/SCRIPTIN.ttf'); } 

.fill {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100%;
}

.l-spacing {
  letter-spacing: 5px;
}

.border-con {
  width: 100%;
  height: 115px;
  z-index: 4;
  background-position: center;
  margin-top: -40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bakery-img {
  width: 100px;
  height: 100px;
}


@media (max-width: 992px) {

  .fill {
    height: auto;
  }

}

/* ========================================================================== 
  Background images
  ========================================================================== */

.bg1 {background-image: url('../img/content-bg/bg1.png');}

.bg2 {background-image: url('../img/content-bg/bg2.png');}

.bg3 {background-image: url('../img/content-bg/bg3.png');}

.bg4 {background-image: url('../img/content-bg/bg4.png');}

.bg5 {background-image: url('../img/content-bg/bg2.png');}

.bg-border {background-image: url('../img/content-bg/border.png');}

.bg-shadow {
  background-image: url('../img/content-bg/bg_shadow.png');
  background-position: center;
}


/* ========================================================================== 
  Setting up navbar
  ========================================================================== */

div.navbar-nav {
  margin: auto;
  z-index: 1;
}

nav.navbar a.navbar-brand{
  font-size: 30px;
  margin-top: -5px;
  font-family: "Scriptina";
}

nav.navbar-bg {
  height: 70px;
}

.navbar > a.pull-left {
  margin-left: 5%;
}

div.col-navbar{
  background-color: rgba(74, 74, 74, 0.45);
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav a:not(:first-child).nav-item:before {
  content: "~";
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
  color: white; 
}

.navbar-nav a.nav-item {
  text-transform: uppercase;
  color:white;
}

div.soc-icon {
  float: right;
  padding-top: 5px 5px 0 5px;
  margin-right: 10%;
  min-width: 130px;
}

div.soc-icon a {
  margin-left: 5px;
  margin-right: 5px;
}

div.soc-icon a i {
  color: white;
}

div.soc-icon a i:hover {
  color: #a6a2a6;
}

@media (max-width: 992px) {

  div.col-navbar {
    background-color: rgb(74, 74, 74);
  }

  div.collapse.show,
  div.collapsing {
    background-color: rgb(74, 74, 74);
    padding: 10px;
    margin-top: 8px;
    z-index: 2;
  }

  .navbar > a.pull-left {
    margin-left: 0;
  }
  .navbar-nav a:not(:first-child).nav-item:before {
    content: "";
    margin-left: 0;
    margin-right: 0;
  }

  div.soc-icon {
    float: left;
  }

}


/* ========================================================================== 
  Container1 jumbotron
  ========================================================================== */

.jumbotron {
  text-align: center;
  color: white;
  max-width: 960px;
  background:none;
  margin: auto;
}

div.jumbotron h1.jumbo-h1 {
  font-size: 6vw;
  color: rgb(255,255,255);
  font-family: "PlayfairDisplay-Bold";
  font-weight: bold;
}

div.jumbotron img.d-line {
  margin: 30px 0 30px 0;
}

div.jumbotron > p {
  font-size: 20px;
  max-width: 360px;
  margin: auto;
  color: rgb(255,255,255);
  font-family: "ProximaNova-Regular";
}

.btn-bakery {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  padding-top: 15px
}

.btn-menu {
  background-color: rgba(58, 56, 51, 0.5);
  border: 1px dashed #cac9c9;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-family: "Alegreya-Bold";
  font-weight: bold;
}

.btn-menu:hover {
  background-color: rgba(0, 0, 0, .5);
  border: 1px dashed #fff;
  text-transform: uppercase;
  color: #fdf9ca;
}

.row-mg-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media (max-width: 750px) {

  div.jumbotron > p {
    font-size: 15px;
  }
  div.jumbotron h1.jumbo-h1 {
    font-size: 36px;
  }

}


/* ========================================================================== 
  Container2
  ========================================================================== */

.left-con {
  margin: auto;
  max-width: 500px;
  position: absolute;
  right: 15%;
}

h2.h2-con-2 {
  font-size: 3.5vw;
  color: rgb(86,83,76);
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-align: center;
}

h5.h5-con-2 {
  font-size: 14px;;
  color: rgb(173, 125, 65);
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

div.left-con > p {
  font-size: 16px;
  color: rgb(86,83,76);
  font-family: "ProximaNova-Regular";
  text-align: center;
  margin-top: 70px;
}

div.left-con > h3 {
  margin-top: 20px;
  font-size: 24px;
  color: rgb(86,83,76);
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-align: center;
}

div.cook-table {
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  margin-left: 0;
  margin-right: 0;
}

.cook-name {
  line-height: 60px;
  margin-top: 20px;
  border-top: 1px solid #d7d4c9;
  font-size: 24px;
  color: rgb(86,83,76);
  font-family: "Alegreya-Regular";
  text-align: center;
  border-bottom: 1px solid #d7d4c9;
}

div.cook-say {
  text-align: center;
}

.left-con span.cook-text {
  font-size: 24px;
  color: rgb(164,125,94);
  font-family: "Scriptina";
  text-align: center;
}

.sup,
.sub {
  position: relative;
  font-size: 60px;
  color: rgb(86,83,76);
  font-family: "TimesNewRomanPSMT";
}

span.sup {
  bottom: 0ex; 
}

span.sub {
  bottom: -2ex; 
}

.img-con {
  width: 80%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.img-con tbody tr td {
  text-align: center;
}

.im {
  outline: 5px solid white;
  outline-offset: -10px;
  width: 100%;
  height: auto;
}

.okvir {
  width: 100%;
}

.center-im {
  opacity: 0.8;
  max-width: 100%;
  height: auto;
}

.div-cent-im {
  width: 50%;
  position: absolute; 
  z-index: 6; 
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.txt-img {
  font-size: 30px;
  color: rgb(201,177,118);
  font-family: "Alegreya-Regular";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

div.bg2 div.row {
  padding-top: 5%;
}

@media (max-width: 992px) {

  .left-con {
    margin-top: 10px;
  }

  .img-con {
    margin-top: 10px;
  }

  h2.h2-con-2 {
    font-size: 40px;
  }

  div.left-con > p {
    font-size: 14px;
    margin-top: 30px;
  }

  div.left-con > h3 {
    margin-top: 10px;
  }

  div.cook-table {
    margin-top: 0;
  }

  .cook-name {
    font-size: 16px;
  }
  
  .left-con span.cook-text {
    font-size: 16px;
  }

  .sup,
  .sub {
    font-size: 30px;
  }

  .col-lg-4.bakery-img {
    margin-top: 20px;
  }

  .left-con {
    position: static;
  }

  .txt-img {
    font-size: 14px;
  }

}

/* ========================================================================== 
  Container3
  ========================================================================== */

.right-con {
  background-image: url(../img/text_bg.png);
  width: 550px;
  height: 517px;
}

.left-im {
  background-image: url(../img/im5.png);
  width: 660px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 517px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 85%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 85%, 0 75%);
  position: relative;
}

.left-im:before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  border-bottom: 80px solid white;
  border-left: 80px solid white;
  width: 0;
}

.con-inside {
  padding: 10% 5% 5% 10%;
  width: 100%;
  margin: auto;
}

div.bg3 div.row {
  padding-top: 10%;
}

h2.h2-con-3 {
  font-size: 2.5vw;
  color: rgb(86,83,76);
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-align: left;
}

h5.h5-con-3 {
  font-size: 14px;;
  color: rgb(173, 125, 65);
  font-family: "Alegreya-Bold";
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

div.right-con div.con-inside > p {
  margin-top: 10%;
  font-size: 16px;
  color: rgb(86,83,76);
  font-family: "ProximaNova-Regular";
}


.slider{
  margin-top: 30%;
  height: 100px;
}

.slider-center {
  margin: auto;
  width: 330px;
}
div.carousel-item img.bakery-img {
  margin-left: 5px;
}

.slider-lft-arrow {
  background-image: url('../img/slider/buttons/arrow_left.png');
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

.slider-rht-arrow{
  background-image: url('../img/slider/buttons/arrow_right.png');
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

@media (max-width: 992px) {

  .right-con {
    background-image: url(../img/text_bg-flip.png);
  }

  .left-im {
    width: 80%;
    height: 300px;
    margin: auto;
  }

  .right-con {
    margin-top: -8% !important;
    margin: auto;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }

  h2.h2-con-3 {
    font-size: 30px;
  }

  div.right-con div.con-inside > p {
    font-size: 14px;
  }

  .left-im {
    -webkit-clip-path: none;
    clip-path: none;
    position: static;
  }

  .left-im:before {
    position: static;
    border-bottom: none;
    border-left: none;
  }

  .con-inside {
    padding: 10% 10% 5% 10%;
  }

}

@media (max-width: 720px) {

  div.carousel-item div.slider-center img:not(:first-child).bakery-img {
    display: none;
  }

  .slider-center {
    margin: auto;
    width: 110px;
  }

}

@media (max-width: 608px) {

  .left-im {
    height: 200px;
    background-size: cover;
    bakcground-repeat: no-repeat;
  }

}